<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.f22labs.instalikefragmenttransaction">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        <uses-permission android:name="android.permission.INTERNET" />

        <activity android:name=".activities.MainActivity" android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Data.EventActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".fragments.CodeItOut" />
        <activity android:name=".FinalActivity.Codex"></activity>
        <activity android:name=".Developers2"></activity>
        <activity android:name=".fragments.ShareFragment" android:theme="@style/ListFont"></activity>



        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity"></activity>

        <activity android:name=".AppReminder" />
        <activity android:name=".AddReminderActivity"></activity>
        <provider
            android:name=".DataRemainder.AlarmReminderProvider"
            android:authorities="com.delaroystudios.alarmreminder"
            android:exported="false" />

        <service
            android:name=".reminder.ReminderAlarmService"
            android:exported="false" />

    </application>

</manifest>